
.App {
    box-sizing: border-box;
}
body{
  background-color:#fcf5f5;
  font-family: sans-serif;

}

.wrap {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    font-family: sans-serif;
    background: #fcf5f5;
    border: solid gray;
    border-width: 1px 1px 2px 2px;
    border-radius:0px;
    
}
    .wrap h1, h2,h3,p{
        margin:5px;
        padding:5px;
        }
hr{
    margin:10px;
}
   
    
form{
  margin-top:30px;
}



button{
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  border:none;
  font-size: 1.4em;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 10%;
  
}
button:hover{
  background:#606060;
}
.App-link {
  color: #61dafb;
}



