.App {
  box-sizing:border-box;
  
}
body{
  background-color: brown;
  font-family: sans-serif;

}
.gird-color{
  background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrap{
  max-width:400px;
  margin:auto;
  margin-top:50px;
  padding:20px;
  font-family:sans-serif;
  background: rgb(127, 219, 223);
  border-radius: 10px;
}
.wrap h2{
  font-size:2em;
  text-align: center;
}
form{
  margin-top:30px;
}
input[type=text],input[type=password]{
  width: 200px;
  
  padding: 10px;
  margin-bottom: 15px;
  font-size:17px;
  border-radius: 5px;
  border:2px solid gray;

}
label{
  font-size:20px;
  font-weight: bold;
  padding: 10px;

}

button{
  padding: 10px;
  width: 100px;
  box-sizing: border-box;
  border:none;
  font-size: 1.4em;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 10%;
  
}
button:hover{
  background:rgba(134, 186, 202, 0.6);
}
.App-link {
  color: #61dafb;
}



